## 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
KOPO_PRODUCT_VOLUME = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 

# 데이터 VIEW
KOPO_PRODUCT_VOLUME

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
129      A01       ST0002   201619   152980.0
130      A01       ST0001   201624   772706.0
131      A01       ST0002   201624   171592.0
132      A01       ST0001   201622   817878.0
133      A01       ST0002   201622   214929.0
134      A01       ST0001   201620   695859.0
135      A01       ST0002   201620   160913.0
136      A01       ST0001   201618   712672.0
137      A01       ST0002   201618   162560.0
138      A01       ST0001   201625   786218.0
139      A01       ST0002   201625   157283.0
140      A01       ST0001   201612   794413.0
141      A01       ST0002   201612   132780.0
142      A01       ST0001   201610  1218194.0
143      A01       ST0002   201610   142575.0
144      A01       ST0001   201617   694920.0
145      A01       ST0002   201617   142279.0
146      A01       ST0001   201615   678467.0
147      A01       ST0002   201615   143180.0
148      A01       ST0001   201613   886427.0
149      A01       ST0002   201613   135788.0
150      A01       ST0001   201611  1011581.0
151      A01       ST0002   201611   150915.0
152      A01       ST0001   201609   635412.0
153      A01       ST0001   201616   658270.0
154      A01       ST0002   201616   137927.0
155      A01       ST0002   201609   154149.0
156      A01       ST0001   201614   739977.0
157      A01       ST0002   201614   148835.0
158      A01       ST0001   201641   746061.0

[159 rows x 4 columns]

In [93]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

## 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [4]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
KOPO_PRODUCT_VOLUME = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME ', engine) 

# 컬럼해더 재정의
KOPO_PRODUCT_VOLUME.columns = ['regionid','productgroup','yearweek','volume']
KOPO_PRODUCT_VOLUME

# 데이터 VIEW
print(KOPO_PRODUCT_VOLUME.head())

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [23]:
answer1 = KOPO_PRODUCT_VOLUME.query("yearweek > '2016'")
answer1

    regionid productgroup yearweek     volume
82       A01       ST0001   201605   661049.0
83       A01       ST0002   201605   231214.0
84       A01       ST0001   201603   531372.0
85       A01       ST0002   201603   152763.0
86       A01       ST0001   201601   651243.0
87       A01       ST0002   201601   162801.0
88       A01       ST0001   201608   671116.0
89       A01       ST0002   201608   130000.0
90       A01       ST0001   201606   881536.0
91       A01       ST0002   201606   172230.0
94       A01       ST0001   201604   585025.0
95       A01       ST0002   201604   197057.0
96       A01       ST0001   201602   573198.0
97       A01       ST0002   201602   137186.0
100      A01       ST0001   201607   790430.0
101      A01       ST0002   201607   161324.0
122      A01       ST0001   201623   768124.0
123      A01       ST0002   201623   161983.0
124      A01       ST0001   201621   721991.0
125      A01       ST0002   201621   205984.0
126      A01       ST0001   201626   871247.0
127      A01       ST0002   201626   196489.0
128      A01       ST0001   201619   693402.0
129      A01       ST0002   201619   152980.0
130      A01       ST0001   201624   772706.0
131      A01       ST0002   201624   171592.0
132      A01       ST0001   201622   817878.0
133      A01       ST0002   201622   214929.0
134      A01       ST0001   201620   695859.0
135      A01       ST0002   201620   160913.0
136      A01       ST0001   201618   712672.0
137      A01       ST0002   201618   162560.0
138      A01       ST0001   201625   786218.0
139      A01       ST0002   201625   157283.0
140      A01       ST0001   201612   794413.0
141      A01       ST0002   201612   132780.0
142      A01       ST0001   201610  1218194.0
143      A01       ST0002   201610   142575.0
144      A01       ST0001   201617   694920.0
145      A01       ST0002   201617   142279.0
146      A01       ST0001   201615   678467.0
147      A01       ST0002   201615   143180.0
148      A01       ST0001   201613   886427.0
149      A01       ST0002   201613   135788.0
150      A01       ST0001   201611  1011581.0
151      A01       ST0002   201611   150915.0
152      A01       ST0001   201609   635412.0
153      A01       ST0001   201616   658270.0
154      A01       ST0002   201616   137927.0
155      A01       ST0002   201609   154149.0
156      A01       ST0001   201614   739977.0
157      A01       ST0002   201614   148835.0
158      A01       ST0001   201641   746061.0

In [27]:
# 데이터 저장
resultname='KOPO_PY_최경재_FINAL2'
KOPO_PRODUCT_VOLUME.query("yearweek > '2016'").to_sql(resultname, engine, if_exists='replace', index=False)

## 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 [심심하면 Date도 같이..저장하세요]

In [86]:
import requests, bs4, pandas as pd, numpy as np

# 웹페이지 html 소스 가져오기
resp = requests.get("https://www.timeanddate.com/holidays/south-korea/")
#resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
holiday_list = bs.find("table", {"class":"zebra fw tb-cl tb-hover"}).select("tbody > tr")
holiday_list

[<tr class="c0" id="tr0"><th class="nw">Jan 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr1"><th class="nw">Feb 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr2"><th class="nw">Feb 14</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr3"><th class="nw">Feb 15</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr4"><th class="nw">Feb 16</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr5"><th class="nw">Feb 17</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr6"><th class="nw">Feb 25</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr7"><th class="nw">Mar 1</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr8"><th class="nw">Mar 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr9"><th class="nw">Mar 18</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr10"><th class="nw">Mar 20</th><td class="nw">Tuesday</td><td><a href="/calendar/march-equinox.html">March equinox</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr11"><th class="nw">Apr 5</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr12"><th class="nw">May 1</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr class="c1" id="tr13"><th class="nw">May 5</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr14"><th class="nw">May 7</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr15"><th class="nw">May 8</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr16"><th class="nw">May 15</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr17"><th class="nw">May 22</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr18"><th class="nw">Jun 6</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr19"><th class="nw">Jun 13</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr20"><th class="nw">Jun 21</th><td class="nw">Thursday</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr21"><th class="nw">Jul 17</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr22"><th class="nw">Aug 15</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr23"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/calendar/september-equinox.html">September equinox</a></td><td>Season</td></tr>,
 <tr class="c0" id="tr24"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr25"><th class="nw">Sep 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr26"><th class="nw">Sep 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr27"><th class="nw">Sep 26</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr28"><th class="nw">Oct 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr29"><th class="nw">Oct 3</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr30"><th class="nw">Oct 9</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr31"><th class="nw">Oct 31</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr32"><th class="nw">Dec 21</th><td class="nw">Friday</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr33"><th class="nw">Dec 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr34"><th class="nw">Dec 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr35"><th class="nw">Dec 31</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

In [91]:
holiday_dateList = []
holiday_weekList = []
holiday_nameList = []


holiday_typeList1=[]
for content in holiday_list:
    alnfos=content.findAll("td")
    for i in alnfos:
        result=i.text
        holiday_typeList1.append(result)

holiday_typeList2=[]
for i in holiday_typeList1:
    if holiday_typeList1.index(i)%3 ==2:
        result=i
        holiday_typeList2.append(result)
print(holiday_typeList2)

for holiday_one in holiday_list:    
    holiday_date = holiday_one.find("th").text
    holiday_week = holiday_one.find("td",{"class":"nw"}).text   
    holiday_name = holiday_one.find("a").text   #.find{'a'}.text
    
    
    holiday_dateList.append(holiday_date)
    holiday_weekList.append(holiday_week)
    holiday_nameList.append(holiday_name)
    
    
        
list1 = pd.DataFrame(holiday_dateList)
holiday_weekList
list2 = pd.DataFrame(holiday_weekList)
holiday_nameList
list3 = pd.DataFrame(holiday_nameList)
holiday_typeList
list4 = pd.DataFrame(holiday_typeList2)
final = pd.concat([list1, list2, list3, list4], axis = 1)
final.columns=['DATE', 'WEEK', 'HOLIDAY_NAME', 'HOLIDAY_TYPE']
final

['National holiday', 'Observance', 'Observance', 'National holiday', 'National holiday', 'National holiday', 'Observance', 'National holiday', 'Observance', 'Observance', 'Season', 'Observance', 'Bank Holiday', 'National holiday', 'National holiday', 'Observance', 'Observance', 'National holiday', 'National holiday', 'National holiday', 'Season', 'Observance', 'National holiday', 'Season', 'National holiday', 'National holiday', 'National holiday', 'National holiday', 'Observance', 'National holiday', 'National holiday', 'Observance', 'Season', 'Observance', 'National holiday', 'Observance']

      DATE       WEEK                   HOLIDAY_NAME      HOLIDAY_TYPE
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [94]:
# 데이터 저장
resultname='KOPO_PY_최경재_FINAL3'
final.to_sql(resultname, engine, if_exists='replace', index=False)

In [95]:
pwd

'C:\\Users\\SMART-13\\Python Session\\Session1'